.loader-component {
    background-color: #00000099;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    > p {
        color: white;
    }
}
