.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.py-2 {
  color: white;
}

.navbar>.container {
  justify-content: center!important;
  align-items: center!important;
}

.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
